<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="de.tudarmstadt.stg.rxjava.refactoring.extensionpoint">
        <client
                class="rxjavarefactoring.Extension">
        </client>
    </extension>

    <!-- 1.) Define command ( TODO: specify commandId and name )-->
    <extension
            point="org.eclipse.ui.commands">
        <category
                name="Rx Refactoring"
                id="rxRefactoring.commands.rxrefactoring">
        </category>
        <command
                name="[COMMAND_NAME] to RxJava"
                categoryId="rxRefactoring.commands.rxrefactoring"
                id="rxRefactoring.commands.rxJavaRefactoring[COMMAND_ID]">
        </command>
    </extension>

    <!-- 2.) Define client handler ( TODO: set commandId to match the given name in step 1 ) -->
    <extension
            point="org.eclipse.ui.handlers">
        <handler
                commandId="rxRefactoring.commands.rxJavaRefactoring[COMMAND_ID]"
                class="handlers.Handler">
        </handler>
    </extension>

    <!-- 3.) Define menu and entry ( TODO: set commandId to match the given name in step 1 ) -->
    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                    label="RxJava Refactorings"
                    mnemonic="R"
                    id="rxRefactoring.menus.rxJavaRefactorings">
                <command
                        commandId="rxRefactoring.commands.rxJavaRefactoring[COMMAND_ID]"
                        mnemonic="1"
                        id="rxRefactoring.menus.rxJavaRefactorings">
                </command>
            </menu>
        </menuContribution>
    </extension>

</plugin>
